


















*               {       box-sizing: border-box; }


html            {       height: 100vh;          }


div             {       margin: 0.8em;

                        padding: 0.8em;         }


ol              {       display: flex;

                        flex-direction: column;
                        flex-wrap: wrap;


                        margin: 1.2em;

                        margin-top: 3em;
                        margin-left: 3em;

                        padding: 0.8em;


                        font-size: 1.5rem;
                        font-family: sans-serif;    }


li              {       height: auto;
                        width: 100%;

                        margin: 1.2em;

                        padding: 0.8em;             }

